body{
    margin:0;  
    text-align:center;
    font-family: 'Merriweather', serif;
    font-size:25px;
     
}
h1{
    font-size: 5.625rem;
    margin :50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    

}
h2{
    font-size:2.5rem;
}
.work
{
    margin:0 auto 0 auto;
 font-size:3rem;
 color: #66BFBF;
 font-weight:normal;
}
.top-cloud{
    position:absolute;
    top:50px;
    right:300px
}
.bottom-cloud
{
    position:absolute;
    left:300px;
    bottom:300px;
}
.topcontainer{
    background-color:#caf7e3;
    position:relative;
    padding-top:100px; 
}
.middle-container
{
   background-color:burlywood;

}
.skills{
    background-color:chartreuse;
    margin:0 0;
}
.contact-me
{
    background-color:crimson;
    margin:0 0;
}

.profile-pic{
    width:20%;
    height:20%;
}
.design{
    width:25%;
    float:left;
    margin-right:30px;
}
.python{
    width:25%;
    float:right;
}
.C
{
    width:25%;
    border-radius:50%;
    float:right;
}
img:hover{
    background-color:darkgray;
}
.bottom-container
{
   background-color: beige;
}
a{
    color: #11999E;
}
.skill-row{
    margin:100px auto 100px auto;
    width:50%;
    text-align: left;
}